This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'exQsFUzX2wgghUepG7Sk'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import pandas as pd
import requests
import quandl
import json

Note: API's can change a bit with each version, for this exercise it is reccomended to use the "V3" quandl api at `https://www.quandl.com/api/v3/`

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
#         quandl.ApiConfig.api_key =API_KEY
#         afx_X_data = quandl.get('FSE/AFX_X', start_date = '2017-01-01', end_date = '2017-01-02')
#         afx_X_data
#         type(afx_X_data)
import requests
url = "https://data.nasdaq.com/api/v3/datasets/FSE/AFX_X.json?api_key=exQsFUzX2wgghUepG7Sk"

r = requests.get(url)
json_data = json.loads(r.text)

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_data.keys()

dict_keys(['dataset'])

In [5]:
#ind the key within 'dataset'
json_data['dataset'].keys()

dict_keys(['id', 'dataset_code', 'database_code', 'name', 'description', 'refreshed_at', 'newest_available_date', 'oldest_available_date', 'column_names', 'frequency', 'type', 'premium', 'limit', 'transform', 'column_index', 'start_date', 'end_date', 'data', 'collapse', 'order', 'database_id'])

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

Question 1

In [6]:
#Store the link
url = "https://data.nasdaq.com/api/v3/datasets/FSE/AFX_X.json?start_date=2017-01-01&end_date=2017-12-31?api_key=exQsFUzX2wgghUepG7Sk"
#Use the request library to store url
r = requests.get(url)

Question 2

In [7]:
#Access to JSON data and output into dictionary
json_data = json.loads(r.text)

Question 3

In [8]:
#Convert dictionary into the dataframe data
df = pd.DataFrame(json_data['dataset']['data'])
#Input the specified column names into the dataset
df.columns = json_data['dataset']['column_names']

Max Open data

In [9]:
#Output the row with maximum 'Open' data
df[df['Open']==max(df['Open'])]

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
9,2017-12-14,53.11,53.54,52.15,52.67,NaN,132981.0,7016953.0,None,None,None

Minimum Open data

In [10]:
#Output the row with minimum 'Open' data
df[df['Open']==min(df['Open'])]

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
238,2017-01-24,34.0,34.35,33.85,34.22,NaN,48797.0,1666086.0,None,None,None

##### Question 4

In [11]:
#Add new column that stores the difference between 'High' and 'Low'
#name the column as 'High_Low_Diff'
df['High_Low_Diff'] = df['High'] - df['Low']

In [12]:
#Output the row with maximum 'High_Low_Diff' data
df[df['High_Low_Diff']==max(df['High_Low_Diff'])]

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,High_Low_Diff
161,2017-05-11,43.4,46.06,43.25,45.0,NaN,189125.0,8496322.0,None,None,None,2.81

Question 5

In [13]:
#Add new column that stores the difference between 2 days of 'Close' value
#name the column as '2_days_Diff'
df['2_days_Diff'] = df['Close'].diff()

In [14]:
#Output the row with maximum '2_days_Diff' data
df[df['2_days_Diff'] == df['2_days_Diff'].max()]

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,High_Low_Diff,2_days_Diff
99,2017-08-08,44.9,45.09,44.15,44.37,NaN,156168.0,6941408.0,None,None,None,0.94,2.56

Question 6

In [15]:
#Output the mean of 'Traded Volume''
df[['Traded Volume']].mean()

Traded Volume    89124.337255
dtype: float64